.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #4391b6, #70afce, #a5def1);
    align-items: center;
    overflow-y: auto;
    padding-top: 200px;
    gap: 90px
}

.nosotros {
    font-size: xx-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}