@media (min-width: 600px) {
    .MarginContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to bottom, #4391b6, #70afce, #a5def1);
      align-items: center;
      overflow-y: auto;
      padding-top: 5px;
    }

    h1 {
      padding-top: 50px;
      height: fit-content;
    }

    .alerta {
      height: 50px;
    }

    button {
      margin-right: 20px;
    }

    .alta{
      color: #F3E7E7;
    }

    .nuevoEjercicio {
      width: 250px;
      min-height: 40px;
      color: #F3E7E7;
      background-color: #6e2f5f;
    }

    table{
      border: 1px solid;
      width: 90%;
    }

    th {
      height: 90px;
    }

    td {
      text-align: center;
      gap: 30px;
    }

}