@media (min-width: 1200px) {
    .MarginContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to bottom, #4391b6, #70afce, #a5def1);
      align-items: center;
      overflow-y: auto;
      padding-top: 200px;
      gap: 90px
    }

    .nuevoEjercicio {
        width: 250px;
        min-height: 40px;
    }
}