@media (min-width: 600px) {
    .MarginContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to bottom, #4391b6, #70afce, #a5def1);
      align-items: center;
      overflow-y: auto;
      padding-top: 5px;
    }

    h1 {
      padding-top: 50px;
      height: fit-content;
    }

    .alerta {
      height: 50px;
    }

    button {
      margin-right: 20px;
    }

    .alta{
      color: #F3E7E7;
    }

    .nuevoEjercicio {
      width: 250px;
      min-height: 40px;
      color: #F3E7E7;
      background-color: #6e2f5f;
    }

    table{
      border: 1px solid;
      width: max-content;
      height: max-content;
    }

    th, tr, thead {
      height: 90px;
    }

    tbody {      
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    tr {
      display: flex;
      flex-direction: row;
      margin: 0 15px 0 15px;
    }

    .cabecera {
      border: none;
    }

    .predefined {
      padding-top: 25px;
      width: 45%;
      align-items: center;
      text-align: center;
    }
}