@media (min-width: 600px) {
    .MarginContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to bottom, #4391b6, #70afce, #a5def1);
      align-items: center;
      overflow-y: auto;
      padding-top: 200px;
      gap: 90px
    }

    button{
        width: 150px;
        min-height: 40px;
        color: #F3E7E7;
        font-size: medium;
    }

    .ver {
        background-color: #124E06;
    }

    .editar {        
        background-color: #6C1F72;
    }

    .eliminar{
        background-color: #951414;
    }
    .derecha {
        margin-left: 50px;
    }
}