
@media (min-width: 1000px) {
    .footer {
        width: 100%;
        background: linear-gradient(to bottom, #3A7b99,  #4391b6);   
        height: auto;
        font-size: 10px;       
    }

    .text {
        font-size: large;
    }
  }
  
  @media (min-width: 700px) and (max-width: 999px) {
    .footer {
        width: 100%;
        background: linear-gradient(to bottom, #3A7b99,  #4391b6);   
        height: auto;
        font-size: 10px;       
    }

    .text {
        font-size: medium;
    }
  }
  
  @media (min-width: 550px) and (max-width: 699px) {
    .footer {
        width: 100%;
        background: linear-gradient(to bottom, #3A7b99,  #4391b6);   
        height: auto;
        font-size: 10px;       
    }

    .text {
        font-size: small;
    }
  }
  
  @media (min-width: 400px) and (max-width: 549px) {
    .footer {
        width: 100%;
        background: linear-gradient(to bottom, #3A7b99,  #4391b6);   
        height: auto;
        font-size: 10px;       
    }

    .text {
        font-size: smaller;
    }
  }
  
  @media (max-width: 399px) {
    .footer {
        width: 100%;
        background: linear-gradient(to bottom, #3A7b99,  #4391b6);   
        height: auto;
        font-size: 10px;       
    }

    .text {
        font-size: x-small;
    }
  }
  


