.form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(111, 194, 194);
}

input {
    width: 185px;
    height: 30px;
}

button {
    width: 150px;
    height: 30px;
}