
.container-NF{
    background-image: url('https://i.pinimg.com/originals/7b/77/db/7b77db04eb4b50b4c231665ca4b888f7.jpg');
    height: 100hv;
    background-repeat: no-repeat;
    background-size: cover;
}

.vl {
    color: azure
}